<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WebBrowser.Data.Properties.Settings.HistoryAndBookmarkDBConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\mebithc\source\repos\madeline_module4project\checkpoint\madeline_module3project\WebBrowser\WebBrowser.Data\bin\Debug\HistoryAndBookmarkDB.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="WebBrowser.Data.Properties.Settings.HistoryAndBookmarkDBConnectionString1"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\HistoryAndBookmarkDB.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>